/*I kept the default fonts because they looked nice and the items
 for accessibility and rendering, but deleted the other defaul css
  to ensure it doesn't conflict with my custom css.*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}